* {
    background-color: cornflowerblue;
}

h1, h2 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    color: rebeccapurple;
}

table, td {
    border: 1px solid black;
    margin: 1px auto;
    padding: 2px;
}

td {
    display: table-cell;
}

#tag{
    font-family: Georgia, serif;
    background-color: goldenrod;
    font-style: italic;
    border: 1px solid white;
    font-size: smaller;
}

th {
    background-color: rgb(0, 0, 0);
    color:beige;
    padding: 3px
}