.header {
   display: flex;
   justify-content: space-between;
   background-color: #E06D10;
}

#title {
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   font-family: 'Abril Fatface', cursive;
}