.header {
   display: flex;
   justify-content: space-around;
   background-color: #E06D10;
   align-items: center;
}

#title {
   font-size: 45px;
   font-family: 'Abril Fatface', cursive;
}

.links {
   display: inline-flex;
   justify-content: flex-end;
   list-style-type: none;   
   gap: 2rem;   
   text-decoration: none;
}

.nav {
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   font-weight: bolder;
   border-radius: 45%;
   padding: 0.4rem 0.6rem;

}

.nav:hover {
   color: #E06D10;
   background-color: black;
}















