.header {
   display: flex;
   justify-content: space-around;
   background-color: #E06D10;
   align-items: center;
   padding: 1rem
}

#title {
   font-size: 55px;
   font-family: 'Abril Fatface', cursive;
}

.links, .links a {
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   list-style-type: none;   
   gap: 1rem;   
   text-decoration-line: none;
}

.nav {
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   font-weight: bolder;
   border-radius: 34%;
   padding: 0.4rem 0.8rem;
   color: #EBF4FA;
}

.nav:hover {
   color: #E06D10;
   background-color: black;
}

#cover-photo {
   display: flex;
   flex-direction: column;
   background-color: #E06D10;
}

#cover-photo img {
   max-width: 100%;
}
.main-text {
   background-color: #0C2231;
   color: #EBF4FA;
   margin: 3rem auto;
   padding: 3rem 3rem 3rem 3rem;
}

.main-text h1 {
   font-family: 'Abril Fatface', cursive;
}

.main-text p {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: bolder;
}

.other-pics {
   display: flex;
   justify-content: spa;
   flex-wrap: wrap;
   flex-direction: row;
   margin: 1rem auto;
   gap: 3rem;
}

.other-pics img {
   max-width: 100%;
}









