.header {
   display: flex;
   justify-content: space-around;
   background-color: #E06D10;
   align-items: center;
}

#title {
   font-size: 45px;
   font-family: 'Abril Fatface', cursive;
}

.links {
   background-color: white;
   display: inline-flex;
   flex-direction: row;
   justify-content: flex-end;
}

.nav {
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   color: #E06D10;
   border-radius: 35%;
}
















