.header {
   display: flex;
   justify-content: space-around;
   background-color: #E06D10;
   align-items: center;
}

#title {
   font-size: 45px;
   font-family: 'Abril Fatface', cursive;
}

.links {
   display: inline-flex;
   justify-content: flex-end;
   list-style-type: none;   
   gap: 2rem;
}

.nav {
   font-size: 22px;
   font-family: 'Poppins', sans-serif;

   border-radius: 35%;
   padding: 0.2rem 0.5rem;
}

.nav:hover {
      color: #E06D10;
   background-color: black;
}















